/* Rectangle 84 */
img {
  width: 297px;
  height: 258px;
  left: 55px;
  top: 106px;
  border-radius: 10px;
}

/* .myprofile { */
/* Rectangle 59 */

/* position: absolute; */
/* width: 394px;
  height: 527px; */
/* left: 3px; */
/* top: 330px;

  background: #121111;
} */
