/* body {
  background-image: url(https://images.pexels.com/photos/2467506/pexels-photo-2467506.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
} */

body {
  background-color: #363535;
}

:root {
  --bg-color: #000000;
  --txt-color: rgb(27, 122, 199);
  --text-light: #072ba3;
  --text-d: #e7e6e1;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.form {
  margin: auto;
  display: block;
  width: 500px;
  height: 600px;
  /* left: 380px; */
  /* top: 212px; */
  margin-top: 10%;
  margin-bottom: 10%;
  color: #000000;
  font-weight: bold;
  font-size: large;

  background: #a8a6a6;
  opacity: 0.8;
  padding-top: 45px;
}
.form > * {
  margin: 10px auto 5px;
  /* margin: 2px 12px; */
  padding: 10px;
  width: 70%;
}
.form button {
  margin-top: 10px;
  background-color: var(--text-light);
  color: var(--bg-color);
  font-weight: bold;
  border: none;
  padding: 10px;

  transition: all 0.3s ease 0s;
  width: 70%;
  margin-left: 76px;
}
.form button:hover {
  background-color: var(--txt-color);
  color: var(--bg-color);
  cursor: pointer;
}
.error {
  display: flex;
  justify-content: center;
  margin: -9px auto;
  align-items: center;
  color: rgb(201, 37, 37);
  font-size: large;
}
.toto {
  color: #e7e6e1;
  font-size: large;
  margin-left: 90px;
}
.toto a {
  text-decoration: none;
  font-size: 20px;
  color: var(--txt-color);
}
.products-add {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.prod-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.prod-form > * {
  padding: 8px 12px;
  margin: 10px;
}
.comm-sec button,
.prod-form button {
  padding: 15px 65px;
  background-color: #f2a154;
  border: none;
  font-size: 22px;
  transition: all 0.3s ease;
  margin-bottom: 50px;
}
.comm-sec button:hover,
.prod-form button:hover {
  cursor: pointer;
  background-color: var(--bg-color);
  color: white;
}
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comm-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sin-com {
  list-style: none;
  padding: 8px 12px;
  border: var(--bg-color) 2px solid;
  margin: 5px;
}
.comm-sec input {
  margin: 20px;
  padding: 10px 30px;
  font-size: 20px;
}
.textt {
  vertical-align: -webkit-baseline-middle;
  margin-left: 100px;
  font-size: larger;
}
h1 {
  color: rgb(255, 255, 255);
  align-content: center;
}
